KEYCLOAK_USER=<GET_FROM_LASTPASS>
KEYCLOAK_PASSWORD=<GET_FROM_LASTPASS>
POSTGRES_ADDR=docker.for.mac.localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=wantify_dev
POSTGRES_USER=<GET_FROM_LASTPASS>
POSTGRES_PASSWORD=<GET_FROM_LASTPASS>
