# Copy this file as 'migrations.env' and replace the missing values
DATABASE_HOST=docker.for.mac.localhost
DATABASE_PORT=5462
DATABASE_NAME=<GET_FROM_LASTPASS>
DATABASE_USERNAME=<GET_FROM_LASTPASS>
DATABASE_PASSWORD=<GET_FROM_LASTPASS>
SERVER_USER_PASSWORD=<GET_FROM_LASTPASS>
ID_USER_PASSWORD=<GET_FROM_LASTPASS>
