APP_PORT=8080
ADMIN_PORT=8081
DATABASE_HOST=docker.for.mac.localhost
DATABASE_PORT=5434
DATABASE_NAME=resolute_cloud_dev
DATABASE_USERNAME=postgresadmin
DATABASE_PASSWORD=<GET FROM LASTPASS>
JAVA_OPTS=-Xmx768m -Xms768m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/dump/
